.typed-cursor {
    opacity: 1;
    font-weight: 400;
    font-size: 50px;
    margin-left: 10px;
    animation: blink 0.7s infinite;
}

.list-group-item-action {
    h5 {
        color: $link-color;
    }
}