.typed-cursor {
    opacity: 1;
    font-weight: 400;
    font-size: 50px;
    margin-left: 10px;
    animation: blink 0.7s infinite;
}

.list-group-item-action {
    h5 {
        color: $link-color;
    }
}

.dynamic-table {
    border-bottom: 2px solid $table-border-color;

    th {
        .icon-asc, .icon-desc {
            display: none;
        }

        &.sorting_asc {
            .icon-asc {
                display: inline-block;
            }
        }
        &.sorting_desc {
            .icon-desc {
                display: inline-block;
            }
        }

        &[data-sort="yes"] {
            cursor: pointer;
        }
    }

    .link-fa {
        .fa {
            font-size: 22px;
        }
    }
}