.navbar {
    background-color: $color-accent-dark;

    .navbar-brand {
        img {
            height: 40px;
            width: auto;
            margin-left: 0.7rem;
            margin-right: 0.7rem;
        }

        &:hover {
            img {
                transform: scale(1.1, 1.1);
            }
        }
    }
}

