.page-container {

    &:last-child {
        padding-bottom: 3rem;
    }

    .page-list-tabs {

        .tab-pane {
            margin-top: 1rem;
            padding: 0 0.8rem;
        }
    }

    .list-group ~ .block-body {
        margin-top: 1rem;
    }

    .block-body {

        table {
            @extend .table;
            @extend .table-striped;
        }
    }

    .block-image {
        text-align: center;
        margin-bottom: 1rem;
        background: rgba(0, 0, 0, 0.05);
        padding: 0.2rem;

        img {
            max-height: 250px;
        }

        .image-caption {
            font-size: 0.9rem;
            padding: 0.2rem;
        }
    }

    .page-collapse {
        .collapse-trigger {
            @extend .btn;
            @extend .btn-outline-primary;
            position: relative;
            padding-right: calc(.75rem + .55rem + 16px);

            &:after {
                @include fa-icon();
                display: block;
                content: $fa-var-chevron-up;
                position: absolute;
                top: .6rem;
                transition: transform .5s;
                right: .75rem;
            }

            &.collapsed {
                &:after {
                    transform: rotate3d(1, 0, 0, 180deg);
                }
            }
        }
        .collapse-body {
            @extend .border;
            @extend .rounded;
            padding: 1rem;
        }
    }
}