.form-vesc-log {
  .form-group {
    input[type="file"]{
      margin-right: 8px;
    }
  }
}

.vesc-log-values {
  .row {
    justify-content: center;
  }

  .value-container {
    border-right: 1px solid #eee;
    margin: 1rem 0;

    @include make-col-ready();
    @include make-col(5);

    &:nth-last-child(even) {
      border-right: none;
    }

    @include media-breakpoint-up(sm) {
      @include make-col(4);

      &:nth-last-child(even) {
        border-right: 1px solid #eee;
      }
      &:nth-last-child(3n+1) {
        border-right: none;
      }
    }

    @include media-breakpoint-up(md) {
      @include make-col(2, 10);

      &:nth-last-child(3n+1) {
        border-right: 1px solid #eee;
      }
      &:nth-last-child(5) {
        border-right: none;
      }
    }

    &:last-child {
      border-right: none;
    }

    .row-value {
      text-align: center;
    }
    .label {
      font-weight: 700;
      text-align: center;
    }
    .sub-label {
      font-size: 80%;
    }
  }
  
}

.vesc-log-chart-container {

  &:last-child {
    margin-bottom: 1.5rem;
  }

  .chart-loading-container {
    text-align: center;
    font-size: 1.8rem;
  }

  .chart-container {
    overflow: auto;
    margin-bottom: 4px;
  }

  .chart-filters-container {
    @include make-row();
    margin-left: 0;
    margin-right: 0;
    padding: 12px 0;
    background-color: #eee;

    .chart-parts-actions-container {
      display: flex;
      flex: 1 1 100%;
      padding: 0 12px 12px 12px;

      .chart-parts-actions-buttons {
        @extend .btn-group;
        margin: 0 auto;
      }
    }

    .filter-row {
      @extend .col-md-4;
      @extend .col-lg-3;
      @extend .row;
    }

    .filter-label {
      @extend .col-8;
      font-size: 0.9rem;
      margin: 0;
    }
    .filter-trigger {
      @extend .col-4;
    }
  }
}

#vescLogChart {
  width: 100%;
  height: 200px;
  margin-bottom: 12px;
}

#vesc-geoloc-map {
  background: #eee;
  height: 400px;
  width: 100%;

  &:last-child {
    margin-bottom: 1.5rem;
  }
}

@include media-breakpoint-down('sm') {
  .vesc-log-chart-container {

    .chart-filters-container {
      padding: 12px;

      .filter-row {
        padding: 6px 0;
      }
      .filter-label {
        font-size: 1rem;
      }
    }
  }
}
