.navbar {
    background-color: $color-accent-dark;

    .navbar-brand {
        img {
            height: 40px;
            width: auto;
            margin-left: 0.7rem;
            margin-right: 0.7rem;
        }

        &:hover {
            img {
                transform: scale(1.1, 1.1);
            }
        }
    }

    .dropdown-menu {
        .sub-nav {
            margin-left: 2.2rem;

            .nav-link {
                color: $body-color;
                font-size: 95%;
                font-style: italic;
                padding-bottom: 4px;
                padding-top: 4px; 

                &:hover {
                    background-color: $gray-100;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .navbar {
        .dropdown-menu {
            .sub-nav {
                margin-left: 1.8rem;
            }
        }
    }
}
