{% import "_macros.html" as macros %}

{% if entry is defined %}
	{% set title = entry.title %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    <title>{% if title is defined %}{{ title }} - {% endif %}esk8 Bible</title>
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# CSS #}
    <link rel="stylesheet" href="/css/style.css"/>

    {% block head_css %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <a class="navbar-brand" href="{{ siteUrl }}">{{ siteName }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>

  {# JS #}
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  {% block footer_js %}
  {% endblock %}
</html>