<!doctype html>
<html lang="en">
  <head>
    <title>esk8 Bible</title>
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# CSS #}
    <link rel="stylesheet" href="/css/style.css"/>

    {% block head_css %}
    {% endblock %}
  </head>
  <body>

  </body>

  {# JS #}
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  {% block footer_js %}
  {% endblock %}
</html>