{% import "_macros.html" as macros %}

{% set entrySlug = "" %}
{% if entry is defined %}
  {% set title = entry.title %}
  {% set entrySlug = entry.slug %}
{% endif %}

{% set globalConfiguration = craft.entries.section('globalConfiguration').one() %}

<!doctype html>
<html lang="en">
    <head>
        <title>{% if title is defined %}{{ title }} - {% endif %}esk8 Bible</title>
        {# Required meta tags #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {# CSS #}
        <link rel="stylesheet" href="/css/style.min.css"/>

        {% block head_css %}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <nav class="navbar navbar-dark navbar-expand-md">
                <a class="navbar-brand" href="{{ siteUrl }}">
                    <img src="/images/esk8-bible-logo-100-b_a_w.png" alt="{{ siteName }} logo" />
                    {{ siteName }}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% for menuItemBlock in globalConfiguration.navbarMenu.all() %}
                            {% if menuItemBlock.type == "blockSinglePageLink" %}
                            <li class="nav-item {% if entrySlug == menuItemBlock.pageEntry.one().slug %}active{% endif %}">
                                <a class="nav-link" href="{{ menuItemBlock.pageEntry.one().url }}">{{ menuItemBlock.pageEntry.one().title }}</a>
                            </li>
                            {% elseif menuItemBlock.type == "blockDropdownMenu" %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ menuItemBlock.menuTitle }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for dropdownMenuItem in menuItemBlock.menuItems.all() %}
                                    <a class="dropdown-item {% if entrySlug == dropdownMenuItem.slug %}active{% endif %}" href="{{ dropdownMenuItem.url }}">{{ dropdownMenuItem.title }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>

        {% block inner_page %}
        <main class="container main-container">
        {% block content %}
        {% endblock %}
        </main>
        {% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <p class="notice">&copy; {% if now|date('Y') != '2017' %}2017 - {% endif %}{{ now|date('Y') }} esk8 Bible. Use of this material is prohibited without permission. <br/>Made with ❤️ in 🇨🇦</p>
                    </div>
                    <div class="col-sm-3">
                        {{ macros.displayFooterLinksList(globalConfiguration.footerLinksColumn1.all()) }}
                    </div>
                    <div class="col-sm-3">
                        {{ macros.displayFooterLinksList(globalConfiguration.footerLinksColumn2.all()) }}
                    </div>
                </div>
            </div>
        </footer>

        {# JS #}
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
        <script src="/node_modules/typed.js/lib/typed.min.js"></script>
        <script src="/node_modules/lity/dist/lity.min.js"></script>
        <script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
        <script src="/js/scripts.js"></script>
        {% block footer_js %}
        {% endblock %}

    </body>
</html>
