
{% macro pageBody(pageBodyMatrix) %}
    {% import _self as macros %}

    {# loop through all of our blocks in the matrix #}
    {% for block in pageBodyMatrix.all() %}

        {% if block.type == "blockRichText" %}
            <div class="block-body">
                {{ block.body }}
            </div>

        {% elseif block.type == "blockSlider" %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    {% for image in block.images.all() %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="block-image">

                            <a href="{{image.getUrl("pageBodyImageBlockBig")}}" target="_blank" data-lity data-caption="{{image.caption|escape}}">
                                <picture>
                                    <img class="" src="{{ image.getUrl("pageBodyImageBlockThumbnail") }}" alt="{{ image.imageAlt }}">
                                </picture>
                            </a>

                            <div class="image-caption">
                                {{ image.caption }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        {% elseif block.type == "blockImage" %}
            {% if block.caption != "" %}
            {% set imageCaption = block.caption %}
            {% elseif block.image.one().caption != "" %}
            {% set imageCaption = block.image.one().caption %}
            {% endif %}

            <div class="block-image">
                <a href="{{block.image.one().getUrl("pageBodyImageBlockBig")}}" target="_blank" data-lity data-caption="{{imageCaption|escape}}">
                    <picture>
                        <img src="{{block.image.one().getUrl("pageBodyImageBlockThumbnail")}}" alt="{{block.image.one().imageAlt}}" />
                    </picture>
                </a>

                <div class="image-caption">
                    {{ imageCaption }}{% if block.image.one().credits != '' %} <div class="link-popover" data-container="body" data-toggle="popover" data-placement="top">credits<div class="popover-body">{{block.image.one().credits}}</div></div>{% endif %}
                </div>

            </div>
        {% elseif block.type == "blockPageList" %}

            {% if block.displayAs == "list" %}
                <div class="list-group">
                    {% for page in block.pages.all() %}
                        <a href="{{page.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <h5>{{ page.title }}</h5>
                            
                            {% if page.summary != "" %}
                                <p>{{ page.summary }}</p>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            {% elseif block.displayAs == "tabs" %}
                <div class="page-list-tabs">
                    <nav class="nav nav-tabs" role="tablist">
                        {% for page in block.pages.all() %}
                        <a class="nav-item nav-link nav-item-has-open {% if loop.first %}active{% endif %}" id="nav-{{ page.slug }}-tab" data-toggle="tab" href="#nav-{{ page.slug }}" role="tab" aria-controls="nav-{{ page.slug }}" aria-selected="false">{{ page.title }}</a>
                        <a class="nav-item-link-open" href="{{ page.url }}">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                        {% endfor %}
                    </nav>
                    <div class="tab-content">
                        {% for page in block.pages.all() %}
                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="nav-{{ page.slug }}" role="tabpanel" aria-labelledby="nav-{{ page.slug }}-tab">
                            {{ macros.pageBody(page.body) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        {% elseif block.type == "blockCollapse" %}
            <div class="page-collapse">
                <p class="collapse-trigger-container">
                    <button type="button" class="collapse-trigger collapsed"
                        data-toggle="collapse" data-target="#{{ block.label|kebab }}-{{block.id}}" aria-expanded="false" aria-controls="{{ block.label|kebab }}-{{block.id}}">
                        {{ block.label }} <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </button>
                </p>
                <div class="collapse-body collapse" id="{{ block.label|kebab }}-{{block.id}}">
                    <div class="block-body">
                        {{ block.collapseBody }}
                    </div>
                </div>
            </div>
        {% endif %}

    {% endfor %}

{% endmacro %}

{% macro bootstrapCard(cardBlock) %}

    {% if cardBlock.type == 'blockCard' %}
    <div class="card">
        <div class="card-body">
            {% if cardBlock.cardTitleIcon != '' or cardBlock.cardTitle != '' %}
            <h4>
                {% if cardBlock.cardTitleIcon != "" %}<i class="fa {{cardBlock.cardTitleIcon}}" aria-hidden="true"></i>{% endif %}
                {{cardBlock.cardTitle}}
            </h4>
            {% endif %}

            {{cardBlock.cardBody}}

            {% if cardBlock.cardLinkPage.one() %}
            <a href="{{cardBlock.cardLinkPage.one().url}}" class="card-link">{% if cardBlock.cardLinkLabel != "" %}{{cardBlock.cardLinkLabel}}{% else %}{{cardBlock.cardLinkPage.one().title}}{% endif %}</a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <p class="error">Not a <em>blockCard</em></p>
    {% endif %}

{% endmacro %}

{# showEntryFields(entry) #}
{% macro showEntryFields(entry) %}

    {% for fieldLayoutField in entry.getFieldLayout().getFields() %}

        {# get the field Model from the fieldId #}
        {% set field = craft.app.fields.getFieldById(fieldLayoutField.id) %}

        {# print the field handle and the field content  #}
        {{ field.handle }} :  entry.getContent()[field.handle] }}

    {% endfor %}

{% endmacro %}

{% macro displayFooterLinksList(footerLinksList) %}

    {% if footerLinksList|length %}
    <ul class="links-list">
        {% for blockLink in footerLinksList %}
            {% if blockLink.type == "blockPageLink" %}
            <li>
                <a href="{{blockLink.page.one().url}}">{{blockLink.page.one().title}}</a>
            </li>
            {% elseif blockLink.type == "blockCustomLink" %}
            <li>
                <a href="{{blockLink.linkURL}}">{{blockLink.label}}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

{% endmacro %}

{% macro displayValueOrUnknown(value, prefix = '', suffix = '') %}
{% if value %}
{{prefix}}{{value}}{{suffix}}
{% else %}
<span title="Unknown">?</span>
{% endif %}
{% endmacro %}

{% macro errorList(errors) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}