
{% macro pageBody(pageBodyMatrix) %}
    {% import _self as macros %}

    {# loop through all of our blocks in the matrix #}
    {% for block in pageBodyMatrix.all() %}

        {% if block.type == "blockRichText" %}
            <div class="block-body">
                {{ block.body }}
            </div>

        {% elseif block.type == "blockSlider" %}

        {% elseif block.type == "blockImage" %}
            <div class="block-image">
                <picture>
                    <img src="{{block.image.one().getUrl("pageBodyImageBlockThumbnail")}}" alt="{{block.image.one().imageAlt}}" />
                </picture>

                {% if block.caption != "" %}
                <div class="image-caption">
                    {{ block.caption }}
                </div>
                {% elseif block.image.one().caption != "" %}
                <div class="image-caption">
                    {{ block.image.one().caption }}
                </div>
                {% endif %}

            </div>
        {% elseif block.type == "blockPageList" %}

            {% if block.displayAs == "list" %}
                <div class="list-group">
                    {% for page in block.pages.all() %}
                        <a href="{{page.url}}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <h5>{{ page.title }}</h5>
                            
                            {% if page.summary != "" %}
                                <p>{{ page.summary }}</p>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            {% elseif block.displayAs == "tabs" %}
                <div class="page-list-tabs">
                    <nav class="nav nav-tabs" role="tablist">
                        {% for page in block.pages.all() %}
                        <a class="nav-item nav-link {% if loop.first %}active{% endif %}" id="nav-{{ page.slug }}-tab" data-toggle="tab" href="#nav-{{ page.slug }}" role="tab" aria-controls="nav-{{ page.slug }}" aria-selected="false">{{ page.title }}</a>
                        {% endfor %}
                    </nav>
                    <div class="tab-content">
                        {% for page in block.pages.all() %}
                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="nav-{{ page.slug }}" role="tabpanel" aria-labelledby="nav-{{ page.slug }}-tab">
                            {{ macros.pageBody(page.body) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        {% endif %}

    {% endfor %}

{% endmacro %}

{# showEntryFields(entry) #}
{% macro showEntryFields(entry) %}


    {% for fieldLayoutField in entry.getFieldLayout().getFields() %}

        {# get the field Model from the fieldId #}
        {% set field = craft.app.fields.getFieldById(fieldLayoutField.id) %}

        {# print the field handle and the field content  #}
        {{ field.handle }} :  entry.getContent()[field.handle] }}

    {% endfor %}

{% endmacro %}